<IfModule mod_rewrite.c>
Options +FollowSymLinks

RewriteEngine on
RewriteBase /sales/
RewriteCond $1 !^(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /sales/index.php/$1 [L]
</IfModule>

<ifmodule !mod_rewrite.c>
  ErrorDocument 404 /index.php
</ifmodule>
<IfModule mod_php5.c>
   php_value upload_max_filesize 40M
   php_value post_max_size 40M
</IfModule>